<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log on</title>
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/main2.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/main3.css')}}">
</head>
<body>


<div id="log">
    全国森林资源统计系统
</div>



<div class="dakuan">
   <form action="user_select" method="post">
       <div class="one">账号：<input name="id"><br></div>
       <div class="two">密码：<input name="password" type="password"><br></div>

<div class="four">
    <input class="five" type="submit" value="登录" id="deng">
    <input class="five" type="reset" value="重置">
</div>

<div id="maolo">还没有账号？<a id="poli" href="{{url_for('zhuche')}}" >立即注册</a></div>
</form>
</div>


<div id="sda">
    ——数据来源：国家统计局——
</div>



</body>
</html>
