<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
<link rel="stylesheet" href="{{url_for('static',filename='../static/css/main.css')}}">
      <script src="{{ url_for('static',filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/echarts.js') }}"></script>
    <script>
        //查询函数
        function search(){
         //将页面中的查询条件自动拼成json串传给py文件
       var frm=$("#form2").serializeArray();
       $.post("{{url_for('forest_select')}}",frm,function (d){
           var s=''
           $.each(d,function (i,f){
               s+='<tr>'
               s+='<td>'+f.year+'</td>'
               s+='<td>'+f.forestrylandarea+'</td>'
               s+='<td>'+f.forestcoverage+'</td>'
               s+='<td>'+f.plantationarea+'</td>'
               s+='<td>'+f.forest+'</td>'
               s+='<td>'+f.livingtree+'</td>'
               s+='<td>'+f.standingtree+'</td></tr>'


           })
           $("#tbody").html(s)
       },"json");

//图表A
       var frm=$("#form2").serializeArray();
       $.post("{{url_for('forest_select')}}",frm,function (d){
           var years=[]
           var forestrylandareas=[]
           for(var i=0;i<d.length;i++) {
              years.push(d[i].year)
               forestrylandareas.push(d[i].forestrylandarea)
           }
               // 初始化图表标签 http://echarts.baidu.com/echarts2/doc/example.html
           var myChart = echarts.init(document.getElementById('chart'));
           var options={
        //定义一个标题
        title:{
            text:'航班统计'
        },
        legend:{
            data:['航班数']
        },
        //X轴设置
        xAxis:{
            data:years
        },
        yAxis:{
        },
        //name=legend.data的时候才能显示图例
        series:[{
            name:'航班数',
            type:'line', //pie饼图,bar柱图,line折线,漏斗funnel
            data:forestrylandareas
        }]

    };
    myChart.setOption(options);
       },"json");

        }
    </script>
</head>
<body>

<center>
    <form  method="post" id="form2">
        年份：<input name="year">
        <input type="button" value="查询" onclick="search()">
    </form>
</center>



<table id="ver-zebra" summary="Most Favorite Movies">
    <colgroup>
    	<col class="vzebra-odd" />
    	<col class="vzebra-even" />
    	<col class="vzebra-odd" />
        <col class="vzebra-even" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col" id="vzebra-comedy">年份</th>
            <th scope="col" id="vzebra-adventure">林业用地面积(万公顷)</th>
            <th scope="col" id="vzebra-action">森林面积(万公顷)</th>
            <th scope="col" id="vzebra-children">人工林面积(万公顷)</th>
            <th scope="col" id="vzebra-adventure">森林覆盖率(%)</th>
            <th scope="col" id="vzebra-children">活立木总蓄积量(亿立方米)</th>
            <th scope="col" id="vzebra-adventure">森林蓄积量(亿立方米)</th>
        </tr>
    </thead>
    <tbody id="tbody">


    </tbody>
</table>

<div id="chart" style="margin-top: 50px;margin-left: 5%;width: 40%;height: 400px">

</div>

<div id="footer">
		<div id="main">
		  本站所有数据来自于国家统计局。如遇到bug,请联系<br>
		  lixiang@website.com
		</div>
</div>


</body>
</html>
