<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/main2.css')}}">
</head>
<body>


<div class="dakuan">
   <form action="user_insert" method="post">
       <div class="one">账号：<input name="uname"><br></div>
       <div class="two">密码：<input name="upass" type="password"><br></div>

<div class="four">
    <input class="five" type="submit" value="保存">
    <input class="five" type="reset" value="重置">
</div>


</form>
</div>





</body>
</html>
